@import "src/styles/variables";

.round-button {
  border-radius: 50%;
  background-color: $secondary-color;
  color: white;
  border:0;

  display: flex;
  justify-content: center;
  align-items: center;

  &:active:enabled {
    background-color: $terciary-color;
  }
  &:disabled {
    opacity: .5;
  }
}
