.user-control {
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__pages {
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}

.bug-list {
  margin-left: 1rem;

  &__item {
    height: 5rem;

    list-style: none;
    margin-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;

    text-decoration: none;
    color: black;

    .image-container {
      height: 5rem;
      width: 5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      border: 1px solid black;
      border-radius: 0.5rem;

      .image {
        height: 5rem;
      }
    }

    .data {
      height: 100%;

      display: flex;
      justify-content: space-between;
      flex-direction: column;

      font-size: 0.8rem;
      .name {
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }

    .detail-link {
      text-decoration: none;
      color: grey;
    }
  }
}

.new-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  
}
