.detail {
  width: 100%;

  &__image-container {
    width: 100%;

    img {
      display:block;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
    input {
      height: auto;
      width: 100%;
    }
  }

  &__data {
    width: 100%;
    margin-right: 5rem;

    .name {
      width: 100%;
      p,
      input {
        font-size: 2rem;
        width: 100%;
      }
    }
    .spatiotemporal-data {
      color: grey;
      margin-bottom: 1rem;
      input {
        width: 100%;
      }
    }
    .message {
      width: 100%;
    }
  }

  .edit-message-form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input,
    textarea {
      width: 100%;
    }
  }
}

.button-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
