<form *ngIf="newBugForm" [formGroup]="newBugForm">
  <div class="form-section">
    <span>Name:</span>
    <input id="form-name" placeholder="Name" type="text" formControlName="name" />
    <p
      *ngIf="
        !newBugForm.get('name')?.valid && newBugForm.get('name')?.dirty
      "
    >
      Required
    </p>
  </div>
  <div class="form-section">
    <span>Description:</span>
    <textarea
      placeholder="Description"
      formControlName="description"
    ></textarea>
    <p
      *ngIf="
        !newBugForm.get('description')?.valid &&
        newBugForm.get('description')?.dirty
      "
    >
      Required
    </p>
  </div>
  <div class="form-section">
    <span>Image (url):</span>
    <input placeholder="Image URL" formControlName="image" />
    <p
      *ngIf="
        !newBugForm.get('image')?.valid &&
        newBugForm.get('image')?.dirty
      "
    >
      Not valid field
    </p>
  </div>
  <div class="form-section">
    <span>Location:</span>
    <input placeholder="Location" formControlName="location" />
    <p
      *ngIf="
        !newBugForm.get('location')?.valid &&
        newBugForm.get('location')?.dirty
      "
    >
    Not valid field
    </p>
  </div>
</form>
<button (click)="onSubmit()" [disabled]="!newBugForm.valid">Send</button>
