<header>
  <a [routerLink]="['/']" class="title">Bag of Bugs</a>
  <div class="header">
    <!-- Navigation links -->
    <div *ngIf="!isMenuVisible" class="links">
      <a *ngIf="isLogged()" [routerLink]="['/list']">List</a>
      <a [routerLink]="['/about']">About</a>
    </div>

    <div class="user-options">
      <!-- Login Button for not logged users -->
      <div *ngIf="!isLogged()" class="user-options__not-logged">
        <a [routerLink]="['/login']">Login</a>
      </div>
      <!-- Expandable menu for logged users -->
      <div *ngIf="isLogged()" class="user-options__logged">
        <app-button
          [text]="isMenuVisible ? '>' : '<'"
          (clicked)="onToggleMenu()"
          [size]="2"
        ></app-button>
        <div
          class="hidden-menu"
          [ngStyle]="{
            display: isMenuVisible ? 'flex' : 'none'
          }"
        >
          <a [routerLink]="['/mycreations']">My Creations</a>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>
