<form *ngIf="newBugForm" [formGroup]="newBugForm" (submit)="onSubmit()">
  <div class="form-section">
    <label>Name:</label>
    <input
      placeholder="Name"
      type="text"
      formControlName="name"
      [maxLength]="32"
    />
    <p *ngIf="!newBugForm.get('name')?.valid && newBugForm.get('name')?.dirty">
      Required
    </p>
  </div>
  <div class="form-section">
    <label>Description:</label>
    <textarea
      placeholder="Description"
      formControlName="description"
      [maxLength]="256"
    ></textarea>
    <p
      *ngIf="
        !newBugForm.get('description')?.valid &&
        newBugForm.get('description')?.dirty
      "
    >
      Required
    </p>
  </div>
  <div class="form-section" *ngIf="mode === 'create'">
    <label>Image:</label>
    <input type="file" (change)="onFileChange($event)" />
    <p
      *ngIf="!newBugForm.get('image')?.valid && newBugForm.get('image')?.dirty"
    >
      Not valid field
    </p>
  </div>
  <div class="form-section">
    <label>Location:</label>
    <input placeholder="Location" formControlName="location" />
    <p
      *ngIf="
        !newBugForm.get('location')?.valid && newBugForm.get('location')?.dirty
      "
    >
      Not valid field
    </p>
  </div>
  <div class="form-section">
    <label>Tags:</label>
    <input
      [maxlength]="38"
      placeholder="Tag1,Tag2,Tag3..."
      formControlName="tags"
    />
    <p *ngIf="!newBugForm.get('tags')?.valid && newBugForm.get('tags')?.dirty">
      Not valid tags. Use the format: "tag1,tag2,tag3" as in "spider,web,bug".
      Each tag must have 3-12 characters
    </p>
  </div>
</form>
<app-button
  (clicked)="onSubmit()"
  [isDisabled]="!newBugForm?.valid"
  [text]="'✔'"
  [size]="2"
  [fontSize]="1"
></app-button>
