$header-h: 2rem;
$header-padding: 1rem;

$footer-height: 3rem;
$bottom-margin: 4rem;

// OTROS

$default-border-radius: 1rem;

// COLORES

$main-color: khaki;
$secondary-color: lightcoral;
$secondary-color-disabled: rgb(248, 210, 210);
$terciary-color: #5c2751;