@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "variables";

p,
h1,
h2,
a,
span,
ul,
li,
input,
textarea,
button,
div,
strong {
  font-family: "Petrona", serif;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

// GLOBALS

button {
  cursor: pointer;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin: 0 0.1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: $terciary-color;
    color: white;

    cursor: pointer;
  }
}

.new-bug {
  position: fixed;
  bottom: $bottom-margin;
  right: 1rem;
}
