<form [formGroup]="userForm">
  <div>
    <label>Username</label>
    <input
      type="string"
      formControlName="username"
      [placeholder]="'4-12 characters'"
      [maxlength]="12"
    />
    <p
      class="form-error"
      *ngIf="
        userForm.get('username')?.dirty &&
        userForm.get('username')?.hasError('required')
      "
    >
      Required field
    </p>
    <p
      class="form-error"
      *ngIf="
        userForm.get('username')?.dirty &&
        userForm.get('username')?.hasError('minlength')
      "
    >
      Too short
    </p>
  </div>
  <div>
    <label>Password</label>
    <input
      type="password"
      formControlName="password"
      [placeholder]="'4-12 characters'"
      [maxlength]="12"
    />
    <p
      class="form-error"
      *ngIf="
        userForm.get('password')?.dirty &&
        userForm.get('password')?.hasError('required')
      "
    >
      Required field
    </p>
    <p
      class="form-error"
      *ngIf="
        userForm.get('password')?.dirty &&
        userForm.get('password')?.hasError('minlength')
      "
    >
      Too short
    </p>
  </div>
  <button (click)="onSubmit()" [disabled]="!userForm.valid">{{ mode }}</button>
  <p class="form-error">{{ errorMessage }}</p>
</form>
<p>
  {{ mode === "login" ? "New? " : "Already have an account? "
  }}<span (click)="onChangeMode()" style="color: blue">{{
    mode === "login" ? "Register here " : "Login here"
  }}</span>
</p>
