<form [formGroup]="userForm">
  <div>
    <label>Username</label>
    <input
      type="string"
      formControlName="username"
      [placeholder]="'4-12 characters'"
    />
    <p
      *ngIf="
        userForm.get('username')?.dirty && !userForm.get('username')?.valid
      "
    >
      Required field
    </p>
  </div>
  <div>
    <label>Password</label>
    <input
      type="password"
      formControlName="password"
      [placeholder]="'4-12 characters'"
    />
    <p
      *ngIf="
        userForm.get('password')?.dirty && !userForm.get('password')?.valid
      "
    >
      Required field
    </p>
  </div>
  <button (click)="onSubmit()" [disabled]="!userForm.valid">{{ mode }}</button>
</form>
<p>
  {{ mode === "login" ? "New? " : "Already have an account? "
  }}<span (click)="onChangeMode()" style="color: blue">{{
    mode === "login" ? "Register here " : "Login here"
  }}</span>
</p>
