<h1 class="title">Bag of Bugs</h1>
<div class="info-container">
    <div>
      <h2 class="subtitle">What is Bag of Bugs?</h2>
      <p>A social-network-like website to upload your daily pictures of arthropods!</p>
    </div>
    <div >
      <h2 class="subtitle">Join us!</h2>
      <p>Nothing! It is free!</p>
    </div>
    <h2 class="subtitle">What do I need to create an account?</h2>
    <p>Create an account in order to:</p>
    <ul>
      <li>Upload your pictures of bugs</li>
      <li>See other users pictures of bugs</li>
      <li>More to come!</li>
    </ul>
</div>
