@import "../../../../styles/variables";

footer {
  background-color: $main-color;
  height: $footer-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 -3px white;

  img {
    height: 1.5rem;
  }
}
