.user-control {
  margin-bottom: 1rem;

  position: sticky;
  top: 0;
  z-index: 1;

  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;

  &__pages {
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }

  &__filter {
    display: flex;
    gap: 0.5rem;
  }
}
