@import "src/styles/variables";
@import "src/styles/mixins";

.bug-list__item {
  position: relative;

  height: 7rem;
  width: 16rem;

  list-style: none;

  padding: 0.5rem;
  border-radius: $default-border-radius;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;

  background-color: $main-color;

  text-decoration: none;
  color: black;

  @include not-mobile {
    width: 20rem;
    height: 10rem;
  }

  .image-container {
    flex-shrink: 0;
    height: 100%;
    width: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: $default-border-radius;

    @include not-mobile {
      width: 50%;
    }
    .image {
      object-fit: cover;
      max-width: 300%;
      max-height: 300%;

      &:hover {
        transition: 500ms;
        transform: rotate(5deg);
      }
    }
  }

  .data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    font-size: 0.8rem;
    .name {
      font-size: 1.2rem;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }
}
