<div
  *ngIf="bug"
  class="bug-list__item"
  [ngClass]="{ 'bug-list__item--owned': isOwned }"
>
  <a class="image-container" 
  [routerLink]="['/detail', bug._id]">
    <img class="image" [src]="bug.image" />
  </a>
  <div class="data">
    <p class="name" [ngStyle]="{ 'font-weight': isOwned ? 'bold' : '' }">
      {{ bug.name }}
    </p>
    <div *ngIf="bug.tags" class="tag-list">
      <span class="tag-list__item" *ngFor="let tag of bug.tags?.split(',')" (click)="onFilterClick(tag)">{{ tag }}</span>
    </div>
    <div>
      <p class="user">{{ bug.user }}</p>
      <p class="date">{{ bug.createdAt }}</p>
    </div>
  </div>
</div>
