@import "src/styles/mixins";

.load-placeholder {
  margin-top:4rem;
  font-size: 4rem;
  text-align: center;
  animation: jump 500ms infinite;
}

@keyframes jump {
  50% {
    transform:translateY(-10%)
  }
}

.bug-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;


  @include not-mobile {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
